<section id="dashboard" ng-controller='DashboardController'>

  <div class="main-numbers">
    <div class="gridwrap">
      <ul>
        <li><div><em><i>$</i>10k</em><label>total earnings</label></div></li>
        <li><div><em><i>$</i>82k</em> <label>total invested</label></div></li>
        <li><div><em>3</em> <label>projects invested in</label></div></li>
        <li><div><em>7</em> <label>projects tracked</label></div></li>
      </ul>
    </div>
  </div>

  <div class="body">
    <div class="main">
      <div>

        <div id="reports-content" class="tab-content keep current">
          <h5 class="chart-title">Performance</h5>
          <div>
            <div id="allocation">
              <%= render 'allocation' %>
            </div>

            <div id="performance">
              <%= render 'performance' %>
            </div>
          </div>
        </div>

        <div class="switch-group">
          <div id="following-content" class="tab-content main-switch" ng-class="{'main-switch-current':viewerTab==1}" ng-init='viewerTab=1'>

            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em>0</em> Investors</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em>0</em> Followers</a></li>
              </ul>
            </div>

            <div ng-show="viewerTab == 1">
              <%= render partial: 'project', collection: [1,2,3] %>
            </div>
          </div>

          <div id="tracking-content" class="tab-content main-switch" ng-class="{'main-switch-current':viewerTab==2}">
            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)"><em>0</em> Investors</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em>0</em> Followers</a></li>
              </ul>
            </div>

            <div ng-show="viewerTab == 2">
              <%= render partial: 'project', collection: [1,2,3] %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class='side'>
      <div>
        <div class="switch-group">
          <div id="following-content" class="tab-content side-tab-content side-switch" ng-class="{'side-switch-current':sideViewerTab==1}" ng-init='sideViewerTab=1'>

            <div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'sideViewerTab', 1)" ng:init='sideViewerTab=1'><em>0</em> Investors</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'sideViewerTab', 2)"><em>0</em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections" ng-show="sideViewerTab == 1">
              <%= render partial: 'projects/follower', collection: [] %>
            </ul>
          </div>

          <div id="followers-content" class="tab-content side-tab-content side-switch" ng-class="{'side-switch-current':sideViewerTab==2}">
            <div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:sideViewerTab==1}" ng:click="open($event, 'sideViewerTab', 1)"><em>0</em> Investors</a></li>
                <li><a ng-class="{current:sideViewerTab==2}" ng:click="open($event, 'sideViewerTab', 2)"><em>0</em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections">
              <%= render partial: 'projects/follower', collection: [] %>
            </ul>
          </div>

        </div>
      </div>
    </div><!-- side -->

  </div><!-- body-->

</section>

