<section id="dashboard" ng-controller='DashboardController' data-user='<%= user_json(current_user) %>' data-projects='<%= projects_json(current_user.invested_projects) %>'>

  <div id="reports-content" class="head tab-content keep">
    <div id="charts">
      <%= render 'allocation' %>
      <%= render "performance" %>
    </div>
  </div>

  <div class="body">
    <div class="main">
      <div>

        <div class="switch-group">
          <div id="investments-content" class="tab-content main-switch" ng-class="{'main-switch-current':viewerTab==1}" ng-init='viewerTab=1'>

            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="openTab($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em><%= current_user.invested_projects.count %></em> Investments</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="openTab($event, 'viewerTab', 2)"><em><%= current_user.following_projects.count %></em> Tracking</a></li>
              </ul>
            </div>

            <div class="map-view" ng-class='{tucked:!isOpened}' ng-controller='MapsController' data-markers='<%= projects_json(current_user.invested_projects) %>'>
              <div class="map-toolbar-one">
                <button ng-click='show()'>Show map</button>
              </div>

              <div class="map-toolbar-two">
                <button ng-click='close()'>x</button>
              </div>

              <div class="map-viewport">
                <es-google-map options='google.settings' refresh='google.refresh' extra='google.extra' styles='google.styles' style='height: 30rem;display:block;'></es-google-map>
              </div>
            </div>

            <div class="listing" ng-show="viewerTab == 1">
              <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(current_user.invested_projects), locals: { class_name: "dash-invested" }, cache: true %>
            </div>
          </div>

          <div id="tracking-content" class="tab-content main-switch" ng-class="{'main-switch-current':viewerTab==2}">
            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="openTab($event, 'viewerTab', 1)"><em><%= current_user.invested_projects.count %></em> Investments</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="openTab($event, 'viewerTab', 2)"><em><%= current_user.following_projects.count %></em> Tracking</a></li>
              </ul>
            </div>

            <div class="map-view" ng-class='{tucked:!isOpened}' ng-controller='MapsController' data-markers='<%= projects_json(current_user.following_projects) %>'>
              <div class="map-toolbar-one">
                <button ng-click='show()'>Show map</button>
              </div>

              <div class="map-toolbar-two">
                <button ng-click='close()'>x</button>
              </div>

              <div class="map-viewport">
                <es-google-map options='google.settings' refresh='google.refresh' styles='google.styles' extra='google.extra' style='height: 30rem;display:block;'></es-google-map>
              </div>
            </div>

            <div class="listing" id="tracking-list" ng-show="viewerTab == 2">
              <!-- do not show in case if user untrack the project using track button -->
              <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(current_user.following_projects), locals: { :ng_show => "followState=='tracking'", class_name: "dash-tracking-list" } %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class='side'>
      <div>

        <div class="switch-group">
          <div id="following-content" class="tab-content side-tab-content tab-content-connections side-switch" ng-class="{'side-switch-current':sideViewerTab==1}" ng-init='sideViewerTab=1'>

            <div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:sideViewerTab==1}" ng:click="openTab($event, 'sideViewerTab', 1)" ng:init='sideViewerTab=1'><em><%= current_user.investors.count %></em> Investors</a></li>
                <li><a ng-class="{current:sideViewerTab==2}" ng:click="openTab($event, 'sideViewerTab', 2)"><em><%= current_user.user_followers.count %></em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections" ng-show="sideViewerTab == 1">
              <%= render partial: 'projects/follower', collection: current_user.investors %>
            </ul>
          </div>

          <div id="followers-content" class="tab-content side-tab-content tab-content-connections side-switch" ng-class="{'side-switch-current':sideViewerTab==2}">
            <div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:sideViewerTab==1}" ng:click="openTab($event, 'sideViewerTab', 1)"><em><%= current_user.investors.count %></em> Investors</a></li>
                <li><a ng-class="{current:sideViewerTab==2}" ng:click="openTab($event, 'sideViewerTab', 2)"><em><%= current_user.user_followers.count %></em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections">
              <%= render partial: 'projects/follower', collection: current_user.user_followers %>
            </ul>
          </div>
        </div>

        <div id="timeline-content" class="tab-content side-tab-content" style="max-height: 325px;">
          <ul id="timeline-list" class="feed">
            <% for activity in current_user.activities.includes(:owner).includes(:trackable).order('created_at desc').limit(20) %>
              <%= render_activity(activity, current_user: current_user) %>
            <% end %>
          </ul>
          <% if activity %>
            <a href="#" class="button load-feed" data-feed="#timeline-list" title="Load more"></a>
          <% end %>
        </div>

      </div>
    </div><!-- side -->

  </div><!-- body-->

</section>
