<section id="dashboard" ng-controller='DashboardController' data-user='<%= user_json(current_user) %>' data-projects='<%= projects_json(current_user.invested_projects) %>'>

  <div id="reports-content" class="head tab-content keep">
    <div id="charts">
      <%= render "performance" %>
      <%= render 'allocation' %>
    </div>
  </div>

  <div class="body">
    <div class="main">
      <div>

        <div class="switch-group">
          <div id="investments-content" class="tab-content main-switch" ng-class="{'main-switch-current':viewerTab==1}" ng-init='viewerTab=1'>

            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em><%= current_user.invested_projects.count %></em> Investments</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em><%= current_user.following_projects.count %></em> Tracking</a></li>
              </ul>
            </div>

            <div ng-show="viewerTab == 1">
              <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(current_user.invested_projects), locals: { class_name: "dash-invested" } %>
            </div>
          </div>

          <div id="tracking-content" class="tab-content main-switch" ng-class="{'main-switch-current':viewerTab==2}">
            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)"><em><%= current_user.invested_projects.count %></em> Investments</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em><%= current_user.following_projects.count %></em> Tracking</a></li>
              </ul>
            </div>

            <div id="tracking-list" ng-show="viewerTab == 2">
              <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(current_user.following_projects), locals: { class_name: "dash-tracking-list" } %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class='side'>
      <div>

        <div class="switch-group">
          <div id="following-content" class="tab-content side-tab-content tab-content-connections side-switch" ng-class="{'side-switch-current':sideViewerTab==1}" ng-init='sideViewerTab=1'>

            <div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:sideViewerTab==1}" ng:click="open($event, 'sideViewerTab', 1)" ng:init='sideViewerTab=1'><em><%= current_user.investors.count %></em> Investors</a></li>
                <li><a ng-class="{current:sideViewerTab==2}" ng:click="open($event, 'sideViewerTab', 2)"><em><%= current_user.user_followers.count %></em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections" ng-show="sideViewerTab == 1">
              <%= render partial: 'projects/follower', collection: current_user.investors %>
            </ul>
          </div>

          <div id="followers-content" class="tab-content side-tab-content tab-content-connections side-switch" ng-class="{'side-switch-current':sideViewerTab==2}">
            <div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:sideViewerTab==1}" ng:click="open($event, 'sideViewerTab', 1)"><em><%= current_user.investors.count %></em> Investors</a></li>
                <li><a ng-class="{current:sideViewerTab==2}" ng:click="open($event, 'sideViewerTab', 2)"><em><%= current_user.user_followers.count %></em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections">
              <%= render partial: 'projects/follower', collection: current_user.user_followers %>
            </ul>
          </div>
        </div>

        <div id="timeline-content" class="tab-content side-tab-content">
          <ul class="feed">
            <% for activity in current_user.activities.order('created_at desc').limit(7) %>
              <%= render_activity(activity, current_user: current_user) %>
            <% end %>
          </ul>
        </div>

      </div>
    </div><!-- side -->

  </div><!-- body-->

  <div id="map-content" class="tab-content keep" style='display:block;'>
    <google-map center="center" fit='true' mark-click='true' draggable="true" zoom="zoom" markers="markers" mark-click="true" style='height: 30rem;display:block;'></google-map>
  </div>
</section>
