<div>
  <div class="formwrap">
    <%= form_for(current_user, :url => { :action => :accreditation }, :html => { :method => :put, :id => "accreditation_user_form"}) do |f| %>
      <div class="intro">
        <p>
          Most investments are available to accredited investors only. Please answer the following questions to verify your qualification as an <a href="http://www.sec.gov/answers/accred.htm" target="_blank">Accredited Investor</a>.
        </p>
      </div>

      <fieldset class="separated-both">
        <h5>Annual Individual Income</h5>
        <p>I have an individual income for each of the two most recent years equal to an income level indicated below and reasonably expect to reach at least the same level this year.</p>
        <label class="radio"><%= f.radio_button(:individual_income, "<200'000") %> &lt; $200'000</label>
        <label class="radio"><%= f.radio_button(:individual_income, "200'000") %> $200'000 — $350'000</label>
        <label class="radio"><%= f.radio_button(:individual_income, "350'000" ) %> $350'000 — $500'000</label>
        <label class="radio"><%= f.radio_button(:individual_income, "500'000>") %> $500'000 &lt;</label>
      </fieldset>

      <fieldset class="separated-bottom">
        <h5>Securities Firm</h5>
        <label class="radio"><%= f.radio_button(:securities_firm, false) %> No</label>
        <label class="radio"><%= f.radio_button(:securities_firm, true) %> Yes</label>
      </fieldset>

      <fieldset class="separated-bottom">
        <h5>Public Company Shareholder or Officer</h5>
        <p>?</p>
        <label class="radio"><%= f.radio_button(:company_director, false) %> No</label>
        <label class="radio"><%= f.radio_button(:company_director, true) %> Yes</label>
      </fieldset>

      <fieldset class="contact-details">
        <h5>Contact Details</h5>
        <div>
          <label for="user_phone"><%= f.text_field :phone, placeholder: "Phone", size: 1 %></label>
          <div class="tight">
            <label for="user_street">
              <%= f.text_field :street, placeholder: "Street address", size: 1 %>
            </label>
            <label for="user_zip">
              <%= f.text_field :zip_code, placeholder: "Zip code", size: 1 %>
            </label>

            <label for="user_city">
              <%= f.text_field :city, placeholder: "City/Town/Locality", size: 1 %>
            </label>

            <label for="user_country">
              <%= f.country_select(:country, ['USA', "Estonia", "United Kingdom"], {}, { class: "combobox" })%>
            </label>

            <label for="user_state">
              <%= f.state_select(:state, "US", {}, {class: "combobox"})%>
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset class="separated-top">
        <h5>Identification Document</h5>
        <p>Please upload a scan of your Identification Document.</p>
        <div class="table">
          <div style="text-align:left;">
            <%= f.file_field :identification_document %>
          </div>
          <div id="doc-upload-response"></div>
        </div>
        <div id="doc-upload-progress" class="goalmeter">
          <div class="progress" style="width:0%"></div>
        </div>
        <div id="doc-scan-preview">
          <%= image_tag current_user.identification_document_url(:thumb) %>
        </div>
      </fieldset>

      <div class="action">
        <div>
          <div>
            <%= f.submit 'Update', class: "zeta thickest" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

