.social_sign
  %h3 Sign in with your social account
  - unless signed_in?
    %a.fb{:href => user_omniauth_authorize_path(:facebook)}
      %i.icon.icon-facebook
    %a.li{:href => user_omniauth_authorize_path(:linkedin)}
      %i.icon-linkedin
    %a.gp{:href => user_omniauth_authorize_path(:google_oauth2)}
      %i.icon.icon-google-plus
  - else
    = current_user.name
    = current_user.email
.or
  .or_l
  %span or
  .or_r
%p.sign_title Log in with your site account
.form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.email_field :email, :placeholder => "Email", :style => "height: 30px; width: 260px;"
    %br
    = f.password_field :password, :placeholder => "Password", :style => "height: 30px; margin-right: 5px; width: 260px;"
    .forgot
      - if devise_mapping.rememberable?
        %label.checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      = render :partial => "devise/shared/links"
    = f.submit "Sign in"

