<div id="sign-in">
  <div class="modal-content">
    <div>
      <%= render 'layouts/logo' %>
      <h1>Profile Settings</h1>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= render partial: 'users/avatar', object: @user %>
        <%= f.file_field :avatar %>
        <%= f.text_field :name, class: "input-xlarge", placeholder: "Full Name" %>
        <%= f.text_field :email, class: "input-xlarge", placeholder: "Email", :required => true %>
        <%= f.password_field :password, class: "input-xlarge", placeholder: "Password" %>
        <%= f.password_field :password_confirmation, class: "input-xlarge", placeholder: "Password Confirmation" %>
        <i>(your current password to confirm your changes)</i>
        <%= f.password_field :current_password, class: "input-xlarge", placeholder: "Current Password" %>
        <div class="action">
          <div>
            <div><%= f.submit 'Save changes', class: "delta thicker" %></div>
          </div>
        </div>
      <% end %>

      <br />

      <h4>Cancel my account</h4>
      <p>
        Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.
      </p>
    </div>
  </div>
</div>
