<section id="investor" class="me" ng-controller='ProfileController' data-user='<%= current_user.to_json(only: [:short_bio, :title, :first_name, :last_name, :middle_name, :facebook_link, :twitter_link, :google_plus_link, :linkedin_link]) %>'>

  <div class="message">
    <div>
      This is Your profile. &nbsp;&nbsp;<a class="button" href="<%= edit_user_registration_path %>">Edit</a>
    </div>
  </div>

  <div class="head">
    <div>

      <figure class="profile-badge">
        <%= render partial: 'users/avatar', locals: { user: current_user } %><div class="focus"></div>
      </figure>
      <div class="profile-details">
        <h3 class="name">{{user.title}} {{user.first_name}} {{user.last_name}} {{user.middle_name}}</h3>

        <div class="mini-bio">
          <p>{{user.short_bio}}</p>
        </div>

        <div class="ext-account-buttons">
          <div>
            <div class="btns">
              <div>
                <button name="ext-account" value="facebook" class="ext-account-button facebook" ng-click="open(user.facebook_link)" ng-class="{'connected-ext-account-button':user.facebook_link}" ng-hide="!user.facebook_link"></button>
                <button name="ext-account" value="twitter" class="ext-account-button twitter" ng-click='open(user.twitter_link)' ng-class="{'connected-ext-account-button':user.twitter_link}" ng-hide="!user.twitter_link"></button>
                <button name="ext-account" value="google-plus" class="ext-account-button google-plus" ng-click='open(user.google_plus_link)' ng-class="{'connected-ext-account-button':user.google_plus_link}" ng-hide="!user.google_plus_link"></button>
                <button name="ext-account" value="linked-in" class="ext-account-button linked-in" ng-click='open(user.linkedin_link)' ng-class="{'connected-ext-account-button':user.linkedin_link}" ng-hide="!user.linkedin_link"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="main">
      <div>
        <div id="tab-1" class="feed-wrapper">
          <ul class="feed">
            <% for activity in current_user.activities.order('created_at desc').limit(10) %>
              <%= render_activity(activity) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="side">
      <div>
        <div>
          <div class="tabs connection-tabs">
            <ul>
              <li><a ng-click="connectionsTab=1" ng-class="{current:connectionsTab == 1}"><em><%= @user.invested_projects.count %></em> Investments</a></li>
              <li><a ng-click="connectionsTab=2" ng-class="{current:connectionsTab == 2}"><em><%= @user.following_projects.count %></em> Follows</a></li>
              <li><a ng-click="connectionsTab=3" ng-class="{current:connectionsTab == 3}"><em><%= @user.user_followers.count %></em> Followers</a></li>
            </ul>
          </div>
          <ul class="connections" ng-show="connectionsTab == 1" ng-init="connectionsTab=1">
            <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(current_user.invested_projects), locals: { class_name: "dash-invested" } %>
          </ul>
          <ul class="connections" ng-show="connectionsTab == 2">
            <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(current_user.following_projects), locals: { class_name: "dash-tracking-list" } %>
          </ul>
          <ul class="connections" ng-show="connectionsTab == 3">
            <%= render partial: 'projects/follower', collection: @user.user_followers %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

