<section id="investor" ng-controller='ProfileController' data-user='<%= profile_user_json(@user) %>' data-projects='<%= projects_json(@user.invested_projects) %>'  data-urls="<%= profile_user_button_urls_json(@user) %>" data-followers='<%= followers_json(@followers) %>'>
  <% if current_user == @user %>
    <div class="message">
      <div>
        This is Your profile. &nbsp;&nbsp;<a class="button" href="<%= edit_user_registration_path %>">Settings</a>
      </div>
    </div>
  <% end %>

  <div class="head">

    <div class="contract">

      <figure class="profile-badge">
        <%= render partial: 'users/avatar', locals: { user: @user } %><div class="focus"></div>
      </figure>
      <div class="profile-details">
        <h3 class="name">
          <%= @user.name %>

          <div class="ext-account-buttons">
            <span>
              <button name="ext-account" value="facebook" class="ext-account-button facebook" ng-click="open(user.facebook_link)" ng-class="{'connected-ext-account-button':user.facebook_link}" ng-hide="!user.facebook_link"></button>
              <button name="ext-account" value="twitter" class="ext-account-button twitter" ng-click='open(user.twitter_link)' ng-class="{'connected-ext-account-button':user.twitter_link}" ng-hide="!user.twitter_link"></button>
              <button name="ext-account" value="google-plus" class="ext-account-button google-plus" ng-click='open(user.google_plus_link)' ng-class="{'connected-ext-account-button':user.google_plus_link}" ng-hide="!user.google_plus_link"></button>
              <button name="ext-account" value="linked-in" class="ext-account-button linked-in" ng-click='open(user.linkedin_link)' ng-class="{'connected-ext-account-button':user.linkedin_link}" ng-hide="!user.linkedin_link"></button>
            </span>
          </div>
        </h3>

        <div class="mini-bio">
          <p><%= @user.short_bio %></p>
        </div>

      </div>

    </div>
    <div class="financials">
      <div>
        <div>
          <div>
            <div class="action">       
              <button class="elevated" ng-click="profile($event)" title="{{followTitle}}" style="position: relative;left: 1000px;bottom: 200px;">{{followTitle}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- head -->

  <div class="body">
    <div class="main">
      <div>

        <div class="switch-group">
          <div id="investments-content" class="tab-content main-switch" ng-class="{'main-switch-current':sideTab==1}" ng-show="sideTab == 1" ng-init='sideTab=1'>

            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:sideTab==1}" ng:click="openTab($event, 'sideTab', 1)"><em><%= @user.invested_projects.count %></em> Investments</a></li>
                <li><a ng-class="{current:sideTab==2}" ng:click="openTab($event, 'sideTab', 2)"><em><%= @user.following_projects.count %></em> Tracking</a></li>
              </ul>
            </div>

            <div class="map-view" ng-class='{tucked:!isOpened}' ng-controller='MapsController' data-markers='<%= projects_json(@user.invested_projects) %>'>
              <div class="map-toolbar-one">
                <button ng-click='show()'>Show map</button>
              </div>

              <div class="map-toolbar-two">
                <button ng-click='close()'>x</button>
              </div>

              <div class="map-viewport">
                <es-google-map options='google.settings' refresh='google.refresh' extra='google.extra' styles='google.styles' style='height: 30rem;display:block;'></es-google-map>
              </div>
            </div>

            <div>
              <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(@user.invested_projects), locals: { class_name: "dash-invested" } %>
            </div>
          </div>

          <div id="tracking-content" class="tab-content main-switch" ng-show="sideTab == 2" ng-class="{'main-switch-current':sideTab==2}">
            <div class="tabs project-tabs">
              <ul>
                <li><a ng-class="{current:sideTab==1}" ng:click="openTab($event, 'sideTab', 1)"><em><%= @user.invested_projects.count %></em> Investments</a></li>
                <li><a ng-class="{current:sideTab==2}" ng:click="openTab($event, 'sideTab', 2)"><em><%= @user.following_projects.count %></em> Tracking</a></li>
              </ul>
            </div>

            <div class="map-view" ng-class='{tucked:!isOpened}' ng-controller='MapsController' data-markers='<%= projects_json(@user.following_projects) %>'>
              <div class="map-toolbar-one">
                <button ng-click='show()'>Show map</button>
              </div>

              <div class="map-toolbar-two">
                <button ng-click='close()'>x</button>
              </div>

              <div class="map-viewport">
                <es-google-map options='google.settings' refresh='google.refresh' extra='google.extra' styles='google.styles' style='height: 30rem;display:block;'></es-google-map>
              </div>
            </div>

            <div id='tracking-list'>
              <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(@user.following_projects), locals: { class_name: "dash-tracking" } %>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="side">
      <div>
        <div class="switch-group">

          <div id="following-content" class="tab-content side-tab-content tab-content-connections side-switch" ng-class="{'side-switch-current':connectionsTab==1}" ng-show="connectionsTab == 1" ng-init="connectionsTab=1">
						<div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:connectionsTab==1}" ng:click="connectionsTab=1"><em><%= @user.investors.count %></em> Investors</a></li>
                <li><a ng-click="connectionsTab=2" ng-class="{current:connectionsTab == 2}"><em><%= @user.user_followers.count %></em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections">
              <%= render partial: 'projects/follower', collection: @user.investors %>
            </li>
          </div>

          <div id="followers-content" class="tab-content side-tab-content tab-content-connections side-switch" ng-class="{'side-switch-current':connectionsTab==2}" ng-show="connectionsTab==2">
						<div class="tabs connection-tabs">
              <ul>
                <li><a ng-class="{current:connectionsTab==1}" ng:click="connectionsTab=1"><em><%= @user.investors.count %></em> Investors</a></li>
                <li><a ng-click="connectionsTab=2" ng-class="{current:connectionsTab == 2}"><em>{{followers.length}}</em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections" id="followed">
              <li ng-repeat='follower in followers'>
                <div class="profile-badge">
                  <div>
                    <a href="/users/{{follower.id}}" title="{{follower.name}}" >
                      <img ng-src='{{follower.profile_image}}' />
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="timeline-content" class="tab-content side-tab-content" style="max-height: 325px;">
          <ul id="timeline-list" class="feed">
            <% for activity in @user.activities.order('created_at desc').limit(15) %>
              <%= render_activity(activity, current_user: current_user) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
