<section id="investor" class="me" ng-controller='ProfileController' data-user='<%= @user.to_json(only: [:short_bio, :title, :first_name, :last_name, :middle_name, :facebook_link, :twitter_link, :google_plus_link, :linkedin_link, :latitude, :longitude]) %>' data-projects='<%= projects_json(@user.invested_projects) %>'>

  <% if current_user == @user %>
    <div class="message">
      <div>
        This is Your profile. &nbsp;&nbsp;<a class="button" href="<%= edit_user_registration_path %>">Edit</a>
      </div>
    </div>
  <% end %>

  <div class="head">
    <div>

      <figure class="profile-badge">
        <%= render partial: 'users/avatar', locals: { user: @user } %><div class="focus"></div>
      </figure>
      <div class="profile-details">
        <h3 class="name">{{user.title}} {{user.first_name}} {{user.last_name}} {{user.middle_name}}</h3>

        <div class="mini-bio">
          <p>{{user.short_bio}}</p>
        </div>

        <div class="ext-account-buttons">
          <div>
            <div class="btns">
              <div>
                <button name="ext-account" value="facebook" class="ext-account-button facebook" ng-click="open(user.facebook_link)" ng-class="{'connected-ext-account-button':user.facebook_link}" ng-hide="!user.facebook_link"></button>
                <button name="ext-account" value="twitter" class="ext-account-button twitter" ng-click='open(user.twitter_link)' ng-class="{'connected-ext-account-button':user.twitter_link}" ng-hide="!user.twitter_link"></button>
                <button name="ext-account" value="google-plus" class="ext-account-button google-plus" ng-click='open(user.google_plus_link)' ng-class="{'connected-ext-account-button':user.google_plus_link}" ng-hide="!user.google_plus_link"></button>
                <button name="ext-account" value="linked-in" class="ext-account-button linked-in" ng-click='open(user.linkedin_link)' ng-class="{'connected-ext-account-button':user.linkedin_link}" ng-hide="!user.linkedin_link"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="main">
      <div>
        <div class="tabs project-tabs">
          <ul>
            <li><a ng-class="{current:sideTab==1}" ng:click="sideTab=1"><em><%= @user.invested_projects.count %></em> Investments</a></li>
            <li><a ng-class="{current:sideTab==2}" ng:click="sideTab=2"><em><%= @user.following_projects.count %></em> Tracking</a></li>
          </ul>
        </div>
        <ul class="connections" ng-show="sideTab == 1" ng-init='sideTab=1'>
          <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(@user.invested_projects), locals: { class_name: "dash-invested" } %>
        </ul>
        <ul class="connections" ng-show="sideTab == 2">
          <%= render partial: 'projects/project', collection: ProjectsDecorator.decorate(@user.following_projects), locals: { class_name: "dash-tracking-list" } %>
        </ul>
      </div>
    </div>

    <div class="side">
      <div>
        <div>
          <div class="tabs connection-tabs">
            <ul>
              <li><a ng-class="{current:connectionsTab==1}" ng:click="connectionsTab=1"><em><%= @user.investors.count %></em> Investors</a></li>
              <li><a ng-click="connectionsTab=2" ng-class="{current:connectionsTab == 2}"><em><%= @user.user_followers.count %></em> Followers</a></li>
            </ul>
          </div>
          <ul class="connections" ng-show="connectionsTab == 1"  ng-init="connectionsTab=1">
            <%= render partial: 'projects/follower', collection: @user.investors %>
          </ul>
          <ul class="connections" ng-show="connectionsTab == 2">
            <%= render partial: 'projects/follower', collection: @user.user_followers %>
          </ul>
        </div>
        <div id="timeline-content" class="tab-content side-tab-content">
          <ul class="feed">
            <% for activity in @user.activities.order('created_at desc').limit(7) %>
              <%= render_activity(activity, current_user: current_user) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="map-content" class="tab-content keep" style='display:block;'>
    <google-map center="center" fit='true' mark-click='true' draggable="true" zoom="zoom" markers="markers" mark-click="true" style='height: 30rem;display:block;'></google-map>
  </div>
</section>

