%legend Basic Properties
.control-group
  = f.label :name, class: 'control-label'
  .controls
    = f.text_field :name, placeholder: 'Name'
.control-group
  = f.label :image, class: 'control-label'
  .controls
    = f.file_field :image
.control-group
  = f.label :price, class: 'control-label'
  .controls
    = f.text_field :price, placeholder: 'Price'
.control-group
  = f.label :percentage, class: 'control-label'
  .controls
    = f.text_field :percent, placeholder: 'Percentage'
.control-group
  = f.label :tag_list, class: 'control-label'
  .controls
    = f.text_field :tag_list, placeholder: 'tags'

%legend Customers
.control-group
  = f.label :company_image, class: 'control-label'
  .controls
    = f.file_field :company_image
.control-group
  = f.label :owner, placeholder: 'Name', class: 'control-label'
  .controls
    = f.text_field :owner
.control-group
  = f.label :company_description, class: 'control-label'
  .controls
    = f.text_area :company_description, class: 'ckeditor'

%legend Content
.control-group
  = f.label :description, class: 'control-label'
  .controls
    = f.text_area :description, class: 'ckeditor', :ckeditor => {:toolbar => "mini"}
.control-group
  = f.label :property, class: 'control-label'
  .controls
    = f.text_area :property, class: 'ckeditor'
.control-group
  = f.label :strength, class: 'control-label'
  .controls
    = f.text_area :strength, class: 'ckeditor'
.control-group
  = f.label :financials, class: 'control-label'
  .controls
    = f.text_area :financials, class: 'ckeditor'

%legend Location
.control-group
  = f.label :street, class: 'control-label'
  .controls
    = f.text_field :street, class: 'ckeditor'
.control-group
  = f.label :city, class: 'control-label'
  .controls
    = f.text_field :city, class: 'ckeditor'
.control-group
  = f.label :country, class: 'control-label'
  .controls
    = f.text_field :country, class: 'ckeditor'

%legend Investment
.control-group
  = f.label :equity, class: 'control-label'
  .controls
    = f.select :investment_type, investment_types
.control-group
  = f.label :term, class: 'control-label'
  .controls
    = f.text_field :start_investment, data: { datepicker: "datepicker" },value: Time.now.strftime("%m/%d/%y")
    = f.text_field :start_investment, value: Time.now.strftime("%I:%M%P")
    to
    = f.text_field :finish_investment, data: { datepicker: "datepicker" }
    = f.text_field :finish_investment, value: Time.now.strftime("%I:%M%P")
.control-group
  = f.label :target_return, class: 'control-label'
  .controls
    = f.text_field :target_return, placeholder: "Target Return"
.control-group
  = f.label :holding_period, class: 'control-label'
  .controls
    = f.text_field :holding, placeholder: "Holding Period"
%br
= f.submit class: "btn btn-primary"
= link_to "Back", admin_projects_path, class: "btn btn-danger"
