.control-group
  = f.label :name, class: 'control-label'
  .controls
    = f.text_field :name, placeholder: 'Name'
.control-group
  = f.label :image, class: 'control-label'
  .controls
    = f.file_field :image
.control-group
  = f.label :price, class: 'control-label'
  .controls
    = f.text_field :price, placeholder: 'Price'
.control-group
  = f.label :owner, class: 'control-label'
  .controls
    = f.text_field :owner, placeholder: 'Owner'
.control-group
  = f.label :tag_list, class: 'control-label'
  .controls
    = f.text_field :tag_list, placeholder: 'tags'
.control-group
  = f.label :description, class: 'control-label'
  .controls
    = f.text_area :description
.control-group
  = f.label :equity, class: 'control-label'
  .controls
    = f.select :investment_type, investment_types
.control-group
  = f.label :property, class: 'control-label'
  .controls
    = f.text_area :property
.control-group
  = f.label :strength, class: 'control-label'
  .controls
    = f.text_area :strength
.control-group
  = f.label :term, class: 'control-label'
  .controls
    = f.text_field :investment_term, data: { datepicker: "datepicker" },value: Time.now.strftime("%m/%d/%y")
    = f.text_field :investment_term, value: Time.now.strftime("%I:%M%P")
    to
    = f.text_field :investment_term, data: { datepicker: "datepicker" }
    = f.text_field :investment_term, value: Time.now.strftime("%I:%M%P")
%br
= f.submit class: "btn btn-primary"
= link_to "Back", admin_projects_path, class: "btn btn-danger"
