.control-group
  = f.label :name, class: 'control-label'
  .controls
    = f.text_field :name, placeholder: 'Name'
.control-group
  = f.label :image, class: 'control-label'
  .controls
    = f.file_field :image
.control-group
  = f.label :price, class: 'control-label'
  .controls
    = f.text_field :price, placeholder: 'Price'
.control-group
  = f.label :owner, class: 'control-label'
  .controls
    = f.text_field :owner, placeholder: 'Owner'
.control-group
  = f.label :description, class: 'control-label'
  .controls
    = f.text_area :description
.control-group
  = f.label :loan, class: 'control-label'
  .controls
    = f.check_box :investment_type
.control-group
  = f.label :equity, class: 'control-label'
  .controls
    = f.check_box :investment_type
.control-group
  = f.label :term, class: 'control-label'
  .controls
    = f.date_select :investment_term
%br
= f.submit class: "btn btn-primary"
= link_to "Back", admin_projects_path, class: "btn btn-danger"
