%tr
  %td= link_to project.name, [:admin, project]
  %td= project.price
  %td= project.owner

  %td
    = link_to "Edit", edit_admin_project_path(project), class: "btn btn-success btn-mini"
    = link_to "Delete", admin_project_path(project), confirm: "Are you sure?", method: :delete, class: "btn btn-danger btn-mini"

