%h1= resource.name
= image_tag(resource.image_url(:thumb))
%b
  Price: $
  = resource.price
%p
  %b
    Owner:
    = resource.owner
%h3
  = resource.description

= link_to "Back", admin_projects_path, class: "btn btn-danger"
