%section.how
  #projects.gridwrap
    .item
      .left.image
        = image_tag 'steps/step1.png'
      .left.text
        1. Create an account and get qualified as an investor: Flock membership is free and gives you insider access to invest in real estate that is pre-screened by the Flock team. You will also benefit from low minimums, starting at $1,000, compared to $50k - $100k for traditional real estate investments. Flock is currently open to accredited and international investors. To be an accredited investor requires a minimum income and/or net worth. The sign up process for Flock verifies the accreditation of its members.
      .clear
    .item
      .left.image
        = image_tag 'steps/step2.png'
      .left.text
        2. Select an investment: Flock offers direct investment opportunities in local real estate projects. Browse investment opportunities in your city and choose to invest in what you know and support. 
      .clear
    .item
      .left.image
        = image_tag 'steps/step3.png'
      .left.text
        3. Review investment materials and purchase shares: Members of Flock can browse the marketplace and learn more about specific investments. For every opportunity, there is detailed information including estimated length of the investment, estimated annual return, property and location information and a profile for any companies or individuals involved in the investment. Once you decide which investment you are interested in, you can securely sign legal paperwork online and submit payment for your investment via check or wire transfer. Flock may also request additional information to verify that you are an accredited investor.
      .clear
    .item
      .left.image
        = image_tag 'steps/step4.png'
      .left.text
        4. Wait for funding process to complete. If we don't reach the funding goal 100% of your money will be returned to you with no fees or hidden charges. In order to finalize your investment, the full amount for the opportunity must be reached. Flock will keep you up to date via email and your investor dashboard. In the event the investment is oversubscribed, the first investors who have funded their portion of the investment will have preference. 
      .clear
    .item
      .left.image
        = image_tag 'steps/step5.png'
      .left.text
        5. Earn Potential Returns & Investor Benefits: You are officially an investor and can expect to receive frequent updates and your share of cash distributions. You will also have access to your investor dashboard to watch how your money is working for you and receive exclusive invites to Realty Mogul events. For each investment, your shares of ownership entitle you to potential financial returns from the project, as well as certain investor benefits. By investing directly in local real estate you become a shareholder in your community. As your neighborhood grows and succeeds, so does your investment. By choosing where to invest and what projects to support, you can help build the city you want!
      .clear
