<div id="sign-in" class="signin external" ng-controller='ContactsController'>
  <div class="modal-header">
    <div>
      <%= render 'layouts/logo' %>
      <div class="close" onclick="$.fancybox.close()"></div>
    </div>
  </div>

  <div class="modal-content">
    <div>
      <%= form_for @contact, remote: true, :html => { name: 'form' } do |f| %>
        <div class="tight">
          <div class="input-group">
            <%= f.text_field :name, placeholder: "Name", size: 1, style: 'width: 50%' %>
            <%= f.email_field :email, placeholder: "E-mail", autocomplete: 'off', size: 1, style: 'width: 50%', required: true, 'ng-model' => 'contact.email' %>
            <%= f.text_area :message, placeholder: "Yours message:", required: true, :cols => 35, :rows => "5", 'ng-model' => 'contact.message' %>
          </div>
        </div>
        <div class="action">
          <div>
            <div>
              <%= f.submit "Submit", { class: "delta thicker", 'ng-click' => 'submit()', :'ng-disabled' => 'form.$invalid' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

