<article class="project-badge <%= class_name %>">
  <div onclick="Turbolinks.visit('<%= url_for(project) %>')">
    <a class="project-thumb" href="<%= project_path(project) %>"><%= image_tag(project.image.url(:index)) %><div class="focus"></div></a>

    <header>
      <h4 class="project-name">
        <div class="profile-badge manager-badge">
          <div>
            <a href="#" title="<%= project.owner %>"><%= image_tag(project.company_image.url(:index)) %></a>
            <div class="focus"></div>
          </div>
        </div>

        <div class="titlewrap">
          <a class="project-link" onclick="Turbolinks.visit('<%= url_for(project) %>'); return false;" href="#"><%= project.name %></a>
          <div class='manager-location'>
            <span><a><%= project.owner %></a></span>
            <address><a><%= project.address %></a></address>
          </div>
      </h4>
    </header>

    <div class="summary">
      <p><%= project.short_description %></p>
    </div>

    <div class="financials">
      <div>
        <div>
          <div>
            <ul class='size-6'>
              <li class="type"><div><b><%= project.investment_type %></b> <label>offering</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="share"><div><b><i>$</i><%= project.shares %></b> <label>/share</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="yield"><div><b><%= project.view_percent %></b> <label>yield</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="term"><div><b><%= project.holding %> <u class="short"></u><u class="long">months</u></b> <label>term</label></div></li>
            </ul>
            <div class="moneywrap size-3">
              <div>
                <ul class='money'>
                  <li class="raised" style="width:<%= project.view_percent %>;"><div><label>Raised</label><i>$</i>21.1m</div></li>
                  <li class="budget" style="width:<%= number_to_percentage(100 - project.percent, :precision => 0)%>;"><div><label>Budget</label><i>$</i><%= project.view_price %></div></li>
                </ul>
                <div class="goal">
                  <div>
                    <div class="goalmeter"><div class="progress " style="width:<%= project.view_percent %>"><div class="marker" style="left:<%= project.view_percent %>;"><label><%= project.view_percent %></label></div></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="action">
      <button class="tracking labelled" title="Stop tracking this project"><%= "Track" if class_name == 'full' %></button>
      <button class="details" onclick="Turbolinks.visit('<%= url_for(project) %>')" title='<%= project.name %>'>Full Details</button>
    </div>
  </div>
</article>

