<section>

  <div class="listing-filter">
    <div>
      <ul>
        <li>
          <%= link_to "Local", tag_path("local") %>
        </li>
        <li>
          <%= link_to "Featured", tag_path("featured") %>
        </li>
        <li>
          <%= link_to "Trending", tag_path("trending") %>
        </li>
        <li>
          <a class="current" href="<%= projects_path %>">All</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="projects" class="gridwrap">
    <%= render @projects %>
  </div>

  <div id="projects" class="gridwrap">
    <%= will_paginate @projects %>
  </div>

</section>

