<% content_for :header do -%>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
<% end %>

<section id="project" ng-controller="ProjectsController" data-project='<%= @project.to_json(only: [:latitude, :longitude]) %>'>
  <div class="head">
    <div class="cover">
      <div>
        <div>
          <%= image_tag @project.image %>
        </div>
      </div>
    </div>

    <div class="financials">
      <div>
        <div>
          <div>
            <ul class='size-6'>
              <li class="type"><div><b><%= @project.investment_type %></b> <label>offering</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="share"><div><b><i>$</i><%= @project.shares %></b> <label>/share</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="yield"><div><b><%= @project.view_percent %><u></u></b> <label>yield</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="term"><div><b><%= @project.holding %> <u class="short"></u><u class="long"></u></b> <label>term</label></div></li>
            </ul>
            <div class="moneywrap size-3">
              <div>
                <ul class='money'>
                  <li class="raised" style="width:<%= @project.view_percent %>;"><div><label>Raised</label><i>$</i><%= @project.view_raise %></div></li>
                  <li class="budget" style="width:<%= number_to_percentage(100 - @project.percent, :precision => 0)%>;"><div><label>Budget</label><i>$</i><%= @project.view_price %></div></li>
                </ul>
                <div class="goal">
                  <div>
                    <div class="goalmeter"><div class="progress " style="width:<%= @project.view_percent %>"><div class="marker" style="left:<%= @project.view_percent %>;"><label><%= @project.view_percent %></label></div></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action">
              <button onclick="Turbolinks.visit('<%= new_project_invest_path(@project) %>')">Purchase Shares</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title fix">
    <hgroup>
      <h2>
        <div class="followwrap following"><button class="following" title="Stop following this project">Following</button></div>
        <div class="profile-badge">
          <div>
            <a href="<%= dashboard_path %>" title="CBRE"><%= image_tag("cbre.png") %></a>
            <div class="focus"></div>
          </div>
        </div>
        <%= @project.name %>
      </h2>
    </hgroup>

    <div id="tabs" class="tabs major gridwrap-padded">
      <ul>
        <li><a ng-class="{current:projectTab==1}" ng-click="open($event, 'projectTab', 1)" ng-init='projectTab=1'><span>Overview</span></a></li>
        <li><a ng-class="{current:projectTab==2}" ng-click="open($event, 'projectTab', 2)"><span>Financials</span></a></li>

        <% if @project.address? %>
          <li><a ng-class="{current:projectTab==3}" href='#map' ng-click="open($event, 'projectTab', 3)"><span>Location</span></a></li>
        <% end %>

        <li><a ng-class="{current:projectTab==4}" ng-click="open($event, 'projectTab', 4)"><span>Property</span></a></li>
        <li><a ng-class="{current:projectTab==5}" ng-click="open($event, 'projectTab', 5)"><span>Strengths</span></a></li>
        <li><a ng-class="{current:projectTab==6}" ng-click="open($event, 'projectTab', 6)"><span>Risks</span></a></li>
        <li><a ng-class="{current:projectTab==7}" ng-click="open($event, 'projectTab', 7)"><span>Manager</span></a></li>

        <li><a class='side-tab' ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em>27</em> Investors</a></li>
        <li><a class='side-tab' ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em>189</em> Followers</a></li>
        <li><a class='side-tab' ng-class="{current:viewerTab==3}" ng:click="open($event, 'viewerTab', 3)"><em>189</em> Timeline</a></li>
      </ul>
    </div>
  </div>

  <div class="body" style='display: block'>
    <div class="main">
			<div>
				<div class='tab-content paper' ng-class="{current:projectTab==1}" ng:show="projectTab == 1">
          <div class='gallery'>
            <div>
              <%= @project.description.to_s.html_safe %>
            </div>
          </div>
				</div>
				<div class='tab-content paper' ng-class="{current:projectTab==2}" ng:show="projectTab == 2">
          <%= @project.financials.to_s.html_safe %>
				</div>
				<div class='tab-content paper'ng-class="{current:projectTab==3}" ng:show="projectTab == 3">
          <div id='map_container' style='display: block'>
            <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" refresh='projectTab == 3' style="display:block; height: 400px"></google-map>
          </div>
          <div><%= @project.address %></div>
				</div>
				<div class='tab-content paper' ng-class="{current:projectTab==4}" ng:show="projectTab == 4">
          <%= @project.property.to_s.html_safe %>
				</div>
        <div class='tab-content paper' ng-class="{current:projectTab==5}" ng:show="projectTab == 5">
          <%= @project.strength.to_s.html_safe %>
        </div>
        <div class='tab-content paper' ng-class="{current:projectTab==6}" ng:show="projectTab == 6">
          <%= @project.risks.to_s.html_safe %>
        </div>
        <div class='tab-content paper' ng-class="{current:projectTab==7}" ng:show="projectTab == 7">
          <%= @project.manager.to_s.html_safe %>
        </div>
			</div>
    </div>

		<div class="side">
			<div>
        <div id="investors-content" class="tab-content side-tab-content side-switch side-current">

          <div class="connections-tabs tabs">
            <ul>
              <li>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em>27</em> Investors</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em>189</em> Followers</a></li>
              </li>
            </ul>
          </div>

          <ul class="connections">
            <li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>

            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=michael.html" title="Michael Walsh"><img src="img/michael.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=michael.html" title="Michael Walsh"><img src="img/michael.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=michael.html" title="Michael Walsh"><img src="img/michael.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            </li><li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
                <div class="focus"></div>
              </div>
            </div>
          </li>					</ul>

        </div>
      </div>

      <div>
        <div>

          <ul class="feed">
            <li>
            <div class="profile-badge">
              <div>
                <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="img/kadri.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            <div class="entry">
              <h5 class="entry-title"><a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk">Kadri</a> and two other friends invested in <a href="index-p=project&project=1800-van-ness.html" title="Rimi Supermaket">Rimi Supermaket</a></h5>
              <div class="entry-meta">
                <div class="profile-badge">
                  <div>
                    <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
                    <div class="focus"></div>
                  </div>
                </div>
                <div class="profile-badge">
                  <div>
                    <a href="index-p=investor&i=michael.html" title="Michael Walsh"><img src="img/michael.png"></a>
                    <div class="focus"></div>
                  </div>
                </div>
                <time>2 days, 7hours ago</time>
              </div>
            </div>
            </li>
            <li>
            <div class="profile-badge">
              <div>
                <a href="index-p=manager&m=trigon.html" title="Trigon Capital"><img src="img/trigon.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            <div class="entry">
              <h5 class="entry-title"><a href="index-p=manager&m=trigon.html" title="Trigon Capital">Trigon Capital</a> published a video to <a href="index-p=project&project=1800-van-ness.html" title="Rimi Supermaket">Rimi Supermaket</a></h5>
              <div class="entry-content">
                <div class="profile-badge video">
                  <div>
                    <a href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" title="1800 Van Ness intro" class="fancybox-video fancybox.iframe" data-height="480" data-width="854"><img src="img/dummy-thumb-soma-grand.jpg"></a>
                    <div class="focus"></div>
                  </div>
                </div>
              </div>
              <div class="entry-meta">
                <time>2 days, 7hours ago</time>
              </div>
            </div>
            </li>
            <li>
            <div class="profile-badge">
              <div>
                <a href="index-p=manager&m=trigon.html" title="Trigon Capital"><img src="img/trigon.png"></a>
                <div class="focus"></div>
              </div>
            </div>
            <div class="entry">
              <h5 class="entry-title"><a href="index-p=manager&m=trigon.html" title="Trigon Capital">Trigon Capital</a> launched <a href="index-p=project&project=vilnius-rimi.html" title="Rimi Supermaket">Rimi Supermaket</a></h5>
              <div class="entry-meta">
                <time>2 days, 7hours ago</time>
              </div>
            </div>
            </li>
          </ul>
				</div>
      </div>
    </div>
  </div>
</section>

