<section id="project" ng-controller="ProjectsController" data-project='<%= project_json(@project) %>' data-urls="<%= project_button_urls_json(@project) %>" data-followers='<%= followers_json(@project) %>'>
  <div class="head">
    <div class="cover">
      <div>
        <div>
          <%= image_tag @project.image.url(:show) %>
        </div>
      </div>
    </div>

    <div class="financials">
      <div>
        <div>
          <div>
            <ul class='size-6'>
              <li class="type"><div><b><%= @project.investment_type %></b> <label>offering</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="share"><div><%= @project.view_per_share %><label>/share</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="yield"><div><b><%= @project.view_percent %><u></u></b> <label>yield</label></div></li>
            </ul>
            <ul class='size-6'>
              <li class="term"><div><b><%= @project.holding %><u class="short"></u><u class="long"></u></b> <label>term</label></div></li>
            </ul>
            <div class="moneywrap size-3">
              <div>
                <ul class='money'>
                  <li class="raised" style="width:<%= @project.view_percent %>;"><div><label>Raised</label><i>$</i><%= @project.view_raise %></div></li>
                  <li class="budget" style="width:<%= @project.view_remaining_percent %>;"><div><label>Budget</label><i>$</i><%= @project.view_price %></div></li>
                </ul>
                <div class="goal">
                  <div>
                    <div class="goalmeter"><div class="progress " style="width:<%= @project.view_percent %>"><div class="marker" style="left:<%= @project.view_percent %>;"><label><%= @project.view_percent %></label></div></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action">
              <%= render 'purchase' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title fix">
    <div class="contract">
      <figure class="profile-badge manager-badge">
        <a href="<%= dashboard_path %>" title="<%= @project.owner %>"><%= image_tag(@project.company_image.url(:index)) %></a>
      </figure>
      <h2 class='name'>
        <div class="trackwrap track">
          <%= render 'track' %>
        </div>
        <%= @project.name %>
      </h2>
    </div>

    <div id="tabs" class="tabs major gridwrap-padded">
      <ul>
        <li><a ng-class="{current:projectTab==1}" ng-click="open($event, 'projectTab', 1)"><span>Overview</span></a></li>
        <li><a ng-class="{current:projectTab==2}" ng-click="open($event, 'projectTab', 2)"><span>Financials</span></a></li>
        <% if @project.address? %>
          <li><a ng-class="{current:projectTab==3}" ng-click="open($event, 'projectTab', 3)"><span>Location</span></a></li>
        <% end %>
        <li><a ng-class="{current:projectTab==4}" ng-click="open($event, 'projectTab', 4)"><span>Property</span></a></li>
        <li><a ng-class="{current:projectTab==5}" ng-click="open($event, 'projectTab', 5)"><span>Strengths</span></a></li>
        <li><a ng-class="{current:projectTab==6}" ng-click="open($event, 'projectTab', 6)"><span>Risks</span></a></li>
        <li><a ng-class="{current:projectTab==7}" ng-click="open($event, 'projectTab', 7)"><span>Manager</span></a></li>
      </ul>
    </div>
  </div>

  <div class="body">
    <div class="main">
			<div>
				<div class='tab-content paper' ng-class="{current:projectTab==1}" ng:show="projectTab == 1">
          <%= @project.description.to_s.html_safe %>
				</div>
				<div class='tab-content paper' ng-class="{current:projectTab==2}" ng:show="projectTab == 2">
          <%= @project.financials.to_s.html_safe %>
				</div>
				<div class='tab-content paper'ng-class="{current:projectTab==3}" ng:show="projectTab == 3">
          <google-map scrollwheel='google.scrollwheel' center="google.center" draggable='google.draggable' zoom="google.zoom" markers="google.markers" style="display:block; height: 400px" refresh='projectTab == 3' ></google-map>
          <address><%= @project.address %></address>
				</div>
				<div class='tab-content paper' ng-class="{current:projectTab==4}" ng:show="projectTab == 4">
          <%= @project.property.to_s.html_safe %>
				</div>
        <div class='tab-content paper' ng-class="{current:projectTab==5}" ng:show="projectTab == 5">
          <%= @project.strength.to_s.html_safe %>
        </div>
        <div class='tab-content paper' ng-class="{current:projectTab==6}" ng:show="projectTab == 6">
          <%= @project.risks.to_s.html_safe %>
        </div>
        <div class='tab-content paper' ng-class="{current:projectTab==7}" ng:show="projectTab == 7">
          <%= @project.manager.to_s.html_safe %>
        </div>
			</div>
    </div>

		<div class="side">
			<div>
        <div class="switch-group">
          <div id="investors-content" class="tab-content side-tab-content side-switch" ng-class="{'side-switch-current':viewerTab==1}">
            <div class="tabs connections-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em><%= @project.investors.count %></em> Investors</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em>{{followers.length}}</em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections" ng-show="viewerTab == 1">
              <%= render partial: 'follower', collection: @project.investors %>
            </ul>
          </div>

          <div id="trackers-content" class="tab-content side-tab-content side-switch" ng-class="{'side-switch-current':viewerTab==2}">
            <div class="tabs connections-tabs">
              <ul>
                <li><a ng-class="{current:viewerTab==1}" ng:click="open($event, 'viewerTab', 1)" ng:init='viewerTab=1'><em><%= @project.investors.count %></em> Investors</a></li>
                <li><a ng-class="{current:viewerTab==2}" ng:click="open($event, 'viewerTab', 2)"><em>{{followers.length}}</em> Followers</a></li>
              </ul>
            </div>

            <ul class="connections" id="followed">
              <li ng-repeat='follower in followers'>
                <div class="profile-badge">
                  <div>
                    <a href="/users/{{follower.id}}">
                      <img ng-src='{{follower.profile_image}}' />
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="timeline-content" class="tab-content side-tab-content">
        <ul class="feed">
          <% for activity in @project.activities.order('created_at desc').limit(7) %>
            <%= render_activity(activity) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="offer-disclaimer">
    <hr>
    <p>A special note regarding forward-looking statements:</p>
    <p>This Offering material, including any sections entitled “Overview”, “Property”, “Neighborhood”, “Financials”, and “Developer” and within the Private Placement Memorandum the sections entitled “The Company,” “Risk Factors,” “Business and Properties,” “Offering Price Factors” and “Use of Proceeds”, contain forward-looking statements. In some cases you can identify these statements by forward-looking words such as “believe,” “may,” “will,” “estimate,” “continue,” “anticipate,” “intend,” “could,” “would,” “project,” “plan,” “expect” or the negative or plural of these words or similar expressions. These forward-looking statements include, but are not limited to, statements concerning the Company, property, risk factors, plans and projections.</p>
    <p>You should not rely upon forward-looking statements as predictions of future events. These forward-looking statements are subject to a number of risks, uncertainties and assumptions, including those described in the “Risk Factors” within the Private Placement Memorandum. In light of these risks, uncertainties and assumptions, the forward-looking events and circumstances discussed in this Offering material may not occur and actual results could differ materially and adversely from those anticipated or implied in the forward-looking statements.</p>
    <p>You should read this Offering material and the documents that we reference in this Offering material and the Private Placement Memorandum with the understanding that our actual future results, levels of activity, performance and events and circumstances may be materially different from what we expect.</p>
    <p>Except as required by law, neither we nor any other person assumes responsibility for the accuracy and completeness of the forward-looking statements. We undertake no obligation to update publicly any forward-looking statements for any reason after the date of this Private Placement Memorandum to conform these statements to actual results or to changes in our expectations.</p>
    <p>Disclaimer: Neither the SEC nor any state securities commission or regulatory authority approved, passed upon or endorsed the merits of this offering.</p>
    <p>Flock's services do not constitute “crowd funding” as described in Title III of the Jumpstart Our Business Startups Act (“JOBS Act”).</p>
  </div>
</section>

