<% content_for :header do -%>
  <!-- sensor=false tells google images we aren't trying to sense the user's location -->
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>

<section id="project">
	<div class="cover-wrap">
		<div class="cover">
			<%= image_tag(@project.image_url) %>
		</div>
	</div>

  <div class="head">
    <div class="core">
      <hgroup>
        <h1>
					<div class="profile-badge">
						<div>
              <a href="<%= dashboard_path %>" title="CBRE"><%= image_tag("cbre.png") %></a>
							<div class="focus"></div>
						</div>
					</div>

          <%= @project.address %><span> Ness <%= render_tag_list(@project) %></span>
        </h1>
      </hgroup>
      <% if signed_in? %>
        <div class="action">
          <button formaction="<%= new_project_invest_path(@project) %>">Invest</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="financials">
    <div>
      <div><span class="delta"><b><%= number_to_percentage(@project.target_return, :precision => 0)%></b></span><br>target return</div>
      <div><span class="delta"><b><%= @project.investment_type %></b></span><br>purchase</div>
      <div><span class="delta"><b><%= @project.holding %></b></span><br>holding period</div>
      <div class="goal">
        <div>
          <h3><%= number_to_currency(@project.price)%></h3>
          <div class="goalmeter">
            <% if @project.percent.present? %>
              <div class="progress" style="width:<%= number_to_percentage(@project.percent, :precision => 0)%>">
              </div>
            <% end %>
          </div>
          <div class="deadline"><b><%= @project.days_to_close %></b> Days to close</div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="main">

      <div id="tabs">
        <ul id="tabs" class="tabs">
          <li><a class="current">Overview</a></li>
          <li><a>Financials</a></li>

          <% if @project.address? %>
            <li><a href='#map'>Location</a></li>
          <% end %>

          <li><a>Property</a></li>
          <li><a>Strengths</a></li>
          <li><a>Risks</a></li>

          <% if user_signed_in? %>
            <li><a href="#comments">Comments</a></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</section>

<script type='text/javascript'>
  $(function() {
    var maps = new Maps("<%= @project.address %>");
    maps.setup();
  });
</script>




    <%#   <div class="tab-content">%>
    <%#     <div class="paper tab-pane active" id="overview">%>
    <%#       <div class="gallery">%>
    <%#         <div>%>
    <%#           <%= image_tag @project.image_url %>%>
    <%#         </div>%>
    <%#       </div>%>
    <%#       <%= @project.description.html_safe %>%>
    <%#     </div>%>

    <%#     <div class="paper tab-pane" id="financials">%>
    <%#       <%= @project.financials.to_s.html_safe %>%>
    <%#     </div>%>

    <%#     <% if @project.address? %>%>
    <%#       <div class="paper tab-pane" id="map">%>
    <%#         <div id='map_container'>%>
    <%#         </div>%>
    <%#         <div><%= @project.address %></div>%>
    <%#       </div>%>
    <%#     <% end %>%>

    <%#     <div class="paper tab-pane" id="property">%>
    <%#       <%= @project.property.to_s.html_safe %>%>
    <%#     </div>%>

    <%#     <div class="paper tab-pane" id="strengths">%>
    <%#       <%= @project.strength.to_s.html_safe %>%>
    <%#     </div>%>

    <%#     <% if user_signed_in? %>%>
    <%#       <div class="paper tab-pane" id="comments">%>
    <%#         <%= render "comments/form" %>%>
    <%#       </div>%>
    <%#     <% end %>%>
    <%#   </div>%>
    <%# </div>%>

    <%# <div class="side">%>
    <%#   <div id="tabspace" style="height: 48px;"></div>%>

    <%#   <div class="developer">%>
    <%#     <div>%>
    <%#       <% if @project.company_image? %>%>
    <%#         <a href="<%= @project.company_image_url%>" rel="prettyPhoto" title="<%= @project.company_description%>">%>
    <%#           <img class="logo" src="<%= @project.company_image_url%>" alt="<%= @project.owner%>"></img>%>
    <%#         </a>%>
    <%#       <% end %>%>

    <%#       <h4 class="project-name">%>
    <%#         <% link_to @project.name do %>%>
    <%#           <label class="type">Residential</label>%>
    <%#         <% end %>%>
    <%#       </h4>%>

    <%#       <h4 class="developer-name"><%= @project.owner %></h4>%>
    <%#     </div>%>
    <%#   </div>%>

    <%#   <div>%>
    <%#     <div class="padding">%>
    <%#       <h5 style="color: lightGray">Project feed</h5>%>
    <%#       <p style="font-size:.7em; margin:1em 0 0; color: lightGray"><%= @project.updated_at %></p>%>
    <%#     </div>%>
    <%#   </div>%>

    <%#   <div>%>
    <%#     <div class="padding">%>
    <%#       <h5 style="color: lightGray">Personal connections</h5>%>
    <%#       <br>%>
    <%#       <%= render('follow') if user_signed_in? %>%>
    <%#       <p style="font-size:.7em; margin:1em 0 0; color: lightGray">%>
    <%#         <%= render partial: 'follower', collection: @followers %>%>
    <%#       </p>%>
    <%#     </div>%>
    <%#   </div>%>
