%section#project
  .head
    %hgroup
      %h1
        = @project.name
        %label.type{:style => "width: 120px;"}
          Residential
    .action
      %button.primary
        Invest
        %i
    %br
    - if user_signed_in?
      = render 'follow'
    .financials
      %h2= number_to_currency(@project.price)
      %br{:style => "clear:both;"}
        .goalmeter
          .progress{:style => "width:66%"}
            .marker{:style => "left:66%;"}
              %label 66%
        %div
          %ul
            %li.target-return Target return 12%
    %h1
      %label.type{:style => "width: 120px; display:inline;"}
        %a{:href => "#"} Property/Overview
      %label.type{:style => "width: 120px; display:inline;"}
        %a{:href => "#"} Location
      %label.type{:style => "width: 120px; display:inline;"}
        %a{:href => "#"} Developer
      %label.type{:style => "width: 120px; display:inline;"}
        %a{:href => "#"} Financials
      %label.type{:style => "width: 120px; display:inline;"}
        %a{:href => "#"} Activities
      %label.type{:style => "width: 120px; display:inline;"}
        %a{:href => "#" } Comments
      %label.type{:style => "width: 120px; display:inline;"}
        = @comments.count
    .imagery.logo
      = image_tag @project.image_url
    .side
      .placeholder= @project.owner
      %a
        Followers:
        = @followers.count
      - @followers.each do |follower|
        %br
        = follower.email
    .details
      #project-details-menu Tabs — Overview, Financials, Location, Property, Strengths &amp; Risks
      #project-details-content
        %p= @project.description
.container
  - if user_signed_in?
    = render "comments/form"
  %h1 Comments
  = render @comments
  