<% content_for :header do -%>
  <!-- sensor=false tells google images we aren't trying to sense the user's location -->
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>

<section id="project">
	<div class="cover-wrap">
		<div class="cover">
			<%= image_tag(@project.image_url) %>
		</div>
	</div>

  <div class="head">
    <div class="core">
      <hgroup>
        <h1>
					<div class="profile-badge">
						<div>
              <a href="<%= dashboard_path %>" title="CBRE"><%= image_tag("cbre.png") %></a>
							<div class="focus"></div>
						</div>
					</div>

          <%= @project.address %><span> Ness <%= render_tag_list(@project) %></span>
        </h1>
      </hgroup>
      <% if signed_in? %>
        <div class="action">
          <button onclick="window.location='<%= new_project_invest_path(@project) %>'">Invest</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="financials">
    <div>
      <div><span class="delta"><b><%= number_to_percentage(@project.target_return, :precision => 0)%></b></span><br>target return</div>
      <div><span class="delta"><b><%= @project.investment_type %></b></span><br>purchase</div>
      <div><span class="delta"><b><%= @project.holding %></b></span><br>holding period</div>
      <div class="goal">
        <div>
          <h3><%= number_to_currency(@project.price)%></h3>
          <div class="goalmeter">
            <% if @project.percent.present? %>
              <div class="progress" style="width:<%= number_to_percentage(@project.percent, :precision => 0)%>">
              </div>
            <% end %>
          </div>
          <div class="deadline"><b><%= @project.days_to_close %></b> Days to close</div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="main">

      <div id="tabs" class='tabs'>
        <ul>
          <li><a class="current">Overview</a></li>
          <li><a>Financials</a></li>

          <% if @project.address? %>
            <li><a href='#map'>Location</a></li>
          <% end %>

          <li><a>Property</a></li>
          <li><a>Strengths</a></li>
          <li><a>Risks</a></li>
        </ul>
      </div>

			<div>
				<div class="paper" id="tab-1">
          <%= @project.description.to_s.html_safe %>
				</div>
				<div class="paper" id="tab-2" style='display:none'>
          <%= @project.financials.to_s.html_safe %>
				</div>
				<div class="paper" id="tab-3" style='display:none'>
          <div id='map_container'>
          </div>
          <div><%= @project.address %></div>
				</div>
				<div class="paper" id="tab-4" style='display:none'>
          <%= @project.property.to_s.html_safe %>
				</div>
        <div class="paper" id="tab-5" style='display: none'>
          <%= @project.strength.to_s.html_safe %>
        </div>
        <div class="paper" id="tab-6" style='display: none'>
          <%= @project.risks.to_s.html_safe %>
        </div>
			</div>
    </div>

		<div class="side">
      <div id="tabspace"></div>

			<div>
				<div id="connections-tabs" class="tabs">
					<ul>
						<li><a href="index-p=project&project=1800-van-ness.html#" class="current">Investors</a></li><li><a href="index-p=project&project=1800-van-ness.html#">Followers</a></li>
					</ul>
				</div>
				<div class="connections-wrap">
					<ul class="connections">
						<li>
							<div class="profile-badge">
								<div>
                  <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><%= image_tag("kadri.png", width:"256", height:"256") %></a>
									<div class="focus"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="profile-badge">
								<div>
									<a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><%= image_tag("kadri.png", width:"256", height:"256") %></a>
									<div class="focus"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="profile-badge">
								<div>
									<a href="index-p=investor&i=mart.html" title="Mart Uibo"><%= image_tag("kadri.png", width:"256", height:"256") %></a>
									<div class="focus"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="profile-badge">
								<div>
									<a href="index-p=investor&i=michael.html" title="Michael Walsh"><%= image_tag("kadri.png", width:"256", height:"256") %></a>
									<div class="focus"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="profile-badge">
								<div>
									<a href="index-p=investor&i=mart.html" title="Mart Uibo"><%= image_tag("mart.png", width:"256", height:"256") %></a>
									<div class="focus"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="profile-badge">
								<div>
									<a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><%= image_tag("kadri.png", width:"256", height:"256") %></a>
									<div class="focus"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

      <div>
				<ul class="feed">
					<li>
						<div class="profile-badge">
							<div>
								<a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><%= image_tag("kadri.png") %></a>
								<div class="focus"></div>
							</div>
						</div>
						<div class="entry">
							<h5 class="entry-title"><a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk">Kadri</a> and two other friends invested in <a href="index-p=project&project=1800-van-ness.html" title="1800 Van Ness">1800 Van Ness</a></h5>
							<div class="entry-meta">
								<div class="profile-badge">
									<div>
										<a href="index-p=investor&i=mart.html" title="Mart Uibo"><%= image_tag("mart.png") %></a>
										<div class="focus"></div>
									</div>
								</div>
								<div class="profile-badge">
									<div>
										<a href="index-p=investor&i=michael.html" title="Michael Walsh"><%= image_tag("michael.png") %></a>
										<div class="focus"></div>
									</div>
								</div>
								<time>2 days, 7hours ago</time>
							</div>
						</div>
					</li>
					<li>
						<div class="profile-badge">
							<div>
								<a href="index-p=developer&d=cbre.html" title="CBRE"><%= image_tag("cbre.png") %></a>
								<div class="focus"></div>
							</div>
						</div>
						<div class="entry">
							<h5 class="entry-title"><a href="index-p=developer&d=cbre.html" title="CBRE">CBRE</a> published a video to <a href="index-p=project&project=1800-van-ness.html" title="1800 Van Ness">1800 Van Ness</a></h5>
							<div class="entry-content">
								<div class="profile-badge video">
									<div>
										<a href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" title="1800 Van Ness intro" class="fancybox-video fancybox.iframe" data-height="480" data-width="854"><img src="img/dummy-thumb-soma-grand.jpg"></a>
										<div class="focus"></div>
									</div>
								</div>
							</div>
							<div class="entry-meta">
								<time>2 days, 7hours ago</time>
							</div>
						</div>
					</li>
					<li>
						<div class="profile-badge">
							<div>
                <a href="index-p=developer&d=cbre.html" title="CBRE"><%= image_tag("cbre.png") %></a>
								<div class="focus"></div>
							</div>
						</div>
						<div class="entry">
							<h5 class="entry-title"><a href="index-p=developer&d=cbre.html" title="CBRE">CBRE</a> launched <a href="index-p=project.html" title="1800 Van Ness">1800 Van Ness</a></h5>
							<div class="entry-meta">
								<time>2 days, 7hours ago</time>
							</div>
						</div>
					</li>
				</ul>
			</div>
  </div>
</section>

<script type='text/javascript'>
  $(function() {
    var maps = new Maps("<%= @project.address %>");
    maps.setup();
  });
</script>

