%section#project
  .head
    %hgroup
      %h1
        = @project.name
        - if @project.tag_list.present?
          %label.type{:style => "display:inline;"}
            = raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')
    .action
      %button.primary
        Invest
        %i
    %br
    - if user_signed_in?
      = render 'follow'
    .financials
      %h2= number_to_currency(@project.price)
      %br{:style => "clear:both;"}
        .goalmeter
          .progress{:style => "width:66%"}
            .marker{:style => "left:66%;"}
              %label 66%
        %div
          %ul
            %li.target-return Target return 12%
    %h1#myTab
      %label.type{:style => "display:inline;"}
        %a{"data-toggle" => "tab", :href => "#overview"} Property/Overview
      %label.type{:style => "display:inline;"}
        %a{:href => "#"} Location
      %label.type{:style => "display:inline;"}
        %a{:href => "#"} Developer
      %label.type{:style => "display:inline;"}
        %a{:href => "#"} Financials
      %label.type{:style => "display:inline;"}
        %a{:href => "#"} Activities
      %label.type{:style => "display:inline;"}
        %a{"data-toggle" => "tab", :href => "#comments"} Comments
      %label.type{:style => "display:inline;"}
        = @comments.count
    .tab-content
      #overview.tab-pane.active
        .imagery
          = image_tag @project.image_url
          #project-details-menu Tabs — Overview, Financials, Location, Property, Strengths &amp; Risks
          #project-details-content
            = @project.description
        
      #comments.tab-pane
        - if user_signed_in?
          = render "comments/form"
      .side
        .placeholder= @project.owner
        %a
          Followers:
          = @followers.count
        - @followers.each do |follower|
          %br
          = follower.email
