.control-group
  = f.label :title, class: 'control-label'
  .controls
    = f.text_field :title, placeholder: 'Name'
.control-group
  = f.label :content, class: 'control-label'
  .controls
    = f.text_area :content, class: 'ckeditor'

%br
= f.submit class: "btn btn-primary"
= link_to "Back", admin_projects_path, class: "btn btn-danger"

