<div id="sign-in" class="signin external">
  <div class="modal-header">
    <div>
      <%= render 'layouts/logo' %>
      <div class="close" onclick="$.fancybox.close()"></div>
    </div>
  </div>

  <div class="modal-content">
    <div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
        <div class="tight">
          <div class="input-group">
            <%= f.email_field :email, placeholder: "E-mail", autocomplete: 'off', size: 1, style: 'width: 50%' %>
            <%= f.password_field :password, placeholder: "Password", autocomplete: 'off', size: 1, style: 'width: 50%' %>
          </div>
        </div>
        <div class="action">
          <div>
            <div>
              <a href="<%= new_user_password_path %>" class="sign-in fancybox.ajax">Forgot password?</a>
            </div>
            <div>
              <%= f.submit "Sign in", class: "delta thicker" %>
            </div>
          </div>
        </div>
        <br><br>
        <div class="ext-account-buttons">
          <%= render 'users/sessions/social' %>
        </div>
        <p class="tertiary">You may alternatively sign in with one of your external accounts</p>
      <% end %>
    </div>
  </div>
</div>
