%tr
  %td= link_to user.name, [:admin, user]
  %td= user.email
  %td= user.status

  %td
    = link_to "Edit", edit_admin_user_path(user), class: "btn btn-success btn-mini"
    = link_to "Delete", [:admin, user], confirm: "Are you sure?", method: :delete, class: "btn btn-danger btn-mini"

