%h1= resource.name
%p
  %b
    Email:
    = resource.email
= form_for [:admin, resource, @message], html: { class: "form-horizontal", multipart: true } do |f|
  = f.text_area :body
  = f.submit "Send message", class: "btn btn-primary"
  = link_to "Back", admin_users_path, class: "btn btn-danger"
