%h1= resource.name
%p
  %b
    Email:
    = resource.email

- @messages.each do |message|
  = message.body

= render 'message_form', user: resource
    
%br
= link_to "Back", admin_users_path, class: "btn btn-danger"
