%link{:href => "http://flockcapital.com/W.style.css.pagespeed.cf.STm3lxPY_z.css", :rel => "stylesheet", :type => "text/css"}
%div
  #logo
    %div
      %h1{:itemprop => "logo"}
        = link_to "Estates", root_path
  %nav
    %div
      %ul
        %li= link_to "Projects", projects_path
        %li= link_to "How it Works", '#'
        %li= link_to "Blog", '#'
        %li= render 'devise/menu/registration_items'
        - if can?(:manage, :all)
          %li= link_to "Admin", admin_path
        - unless signed_in?
          = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
        - else
          = current_user.name
          %br
          = current_user.email