%div
  #logo
    %div
      %h1{:itemprop => "logo"}
        = link_to "Estates", root_path
  %nav
    %div
      %ul
        %li= link_to "Home", root_path
        %li= link_to "Projects", projects_path
        %li= link_to "How it Works", page_path("howto")
        %li= link_to "Blog", '#'
        - if can?(:manage, :all)
          %li= link_to "Admin", admin_path
        - if user_signed_in?
          %li= link_to current_user.email, edit_user_registration_path
        %li= render 'devise/menu/registration_items'

