<ul>
  <li><%= link_to "Investments", projects_path %></li>
  <li><%= link_to "How it Works", page_path("howto")%></li>
  <li><%= link_to "Get In Touch", new_contact_path, class: "get-in-touch fancybox.ajax" %></li>

  <% unless current_user.present? %>
    <li><a href="<%= new_user_registration_path %>" class="sign-in fancybox.ajax">Sign Up</a></li>
    <li><a href="<%= new_user_session_path %>" class="sign-in fancybox.ajax">Log In</a></li>
  <% else %>
    <li class="profile-badge ">
      <a href="<%= edit_user_registration_path %>" id="profile-badge">
        <%= image_tag current_user.profile_image, class: 'front' %>
        <div class="focus"></div>
      </a>

      <ul>
        <li class="namee"><a class='current' href="<%= edit_user_registration_path %>"><%= current_user.name %></a></li>
        <% if can?(:manage, :all) %>
          <li><%= link_to "Admin", '/admin'%></li>
        <% end %>
        <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete)%></li>
      </ul>
    </li>
  <% end %>
</ul>

