%html
  %head
    %title Estates
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = bootstrap_flash
  %body
    #wrap
      %header#masthead{:style => "height: 144px;"}
        = render 'header'
      #main
        = yield
      = render 'footer'

