<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <title>Flock Captial</title>
  <meta charset="utf-8">
  <meta name="description" content="html meta description">
  <meta name="keywords" content="html, meta, keywords" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="canonical" href="http://flock.ips/" />

  <link rel="Shortcut Icon" type="image/svg" href="<%= image_path('g/flockinvest-logo-symbol.svg') %>">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", "style" %>
  <%= csrf_meta_tags %>

  <!-- sensor=false tells google images we aren't trying to sense the user's location -->
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <!--[if lte IE 8]> <%= stylesheet_link_tag "ie8" %><![endif]-->

<body onload="" class="<%= layout_class %>">
  <%= gflash(js: true) %>

  <div id="wrap" style="padding-bottom: 228px;">
    <header id="masthead" class="mini">
      <div>
        <div id="logo">
          <div><h1 itemprop="logo"><%= link_to "Flock", root_path %></h1></div>
        </div>
        <nav>
          <div id='header-bar'>
            <%= render 'layouts/header' %>
          </div>
        </nav>
        <a id="expand"><i></i></a>
      </div>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      <div id="nag">
        <div>
          <i></i><a href="<%= new_user_registration_path %>" class="sign-in fancybox.ajax">Sign Up</a> or <a href="<%= new_user_session_path %>" class="sign-in fancybox.ajax">Log In</a> to follow projects
        </div>
        <div class="close"></div>
      </div>
    </footer>
  </div>

  <%= render 'layouts/js' %>
</body>
</html>

