%html
  %head
    %title Estates
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap
      %header#masthead{:style => "height: 144px;"}
        = render partial: "header"
      #main   
        = yield
      = render partial: "footer"

