%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    = stylesheet_link_tag "dashboard", :media => "all"
    = javascript_include_tag "dashboard"
    = bootstrap_flash
  %body
    .container
      .navbar
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "Estates", root_path, :class => "brand"
            .nav-collapse
              %ul.nav
                %li.active
                  %a{:href => "index.htm"} Dashboard
                %li
                  %a{:href => "settings.htm"} Account Settings
                %li
                  %a{:href => "help.htm"} Help
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "help.htm"}
                    Tours
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "help.htm"} Introduction Tour
                    %li
                      %a{:href => "help.htm"} Project Organisation
                    %li
                      %a{:href => "help.htm"} Task Assignment
                    %li
                      %a{:href => "help.htm"} Access Permissions
                    %li.divider
                    %li.nav-header
                      Files
                    %li
                      %a{:href => "help.htm"} How to upload multiple files
                    %li
                      %a{:href => "help.htm"} Using file version
              %form.navbar-search.pull-left{:action => ""}
                %input.search-query.span2{:placeholder => "Search", :type => "text"}/
              %ul.nav.pull-right
                %li
                  %li= link_to current_user.email, '#'
                %li
                  %li= render 'devise/menu/registration_items'
      .row
        .span3
          .well{:style => "padding: 8px 0;"}
            %ul.nav.nav-list
              %li.nav-header
                Estates
              %li.active
                %a{:href => dashboard_path}
                  %i.icon-white.icon-home
                  Dashboard
              %li
                %a{:href => "projects.htm"}
                  %i.icon-folder-open
                  Projects
              %li
                %a{:href => "tasks.htm"}
                  %i.icon-check
                  Tasks
              %li
                %a{:href => dashboard_messages_path}
                  %i.icon-envelope
                  Messages
              %li
                %a{:href => "files.htm"}
                  %i.icon-file
                  Files
              %li
                %a{:href => "activity.htm"}
                  %i.icon-list-alt
                  Activity
              %li.nav-header
                Your Account
              %li
                %a{:href => edit_user_registration_path}
                  %i.icon-user
                  Profile
              %li
                %a{:href => "settings.htm"}
                  %i.icon-cog
                  Settings
              %li.divider
              %li
                %a{:href => "help.htm"}
                  %i.icon-info-sign
                  Help
              %li.nav-header
                Bonus Templates
              %li
                %a{:href => "gallery.htm"}
                  %i.icon-picture
                  Gallery
              %li
                %a{:href => "blank.htm"}
                  %i.icon-stop
                  Blank Slate
= yield